<div class="jumbotron jt-custom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= get_pic @user, 200 %>
      </div>
      <div class="col-md-4">
        <h3><%= @user.username %></h3>
        <p>Age: <%= @user.age %></p>
        <p>Gender: <%= @user.gender %></p>
      </div>
      <div class="col-md-4">
        <h3>About me: </h3>
        <small><%= @user.bio %></small>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Friends (<%= @user.active_friends.size %>)</div>
        <div class="panel-body">
          <% @user.active_friends.last(16).each do |user| %>
            <%= link_to user_path(user.username) do %>
              <%= get_pic user, 40 %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Recent activity</h3>
        </div>
        <ul class="list-group">
          <% @activity.each do |activity| %>
            <% case activity.class.to_s %>
            <% when "Forem::Post" %>
              <li class="list-group-item">Posted <%= activity.text.gsub(/<blockquote>.*<\/blockquote>/,"") %> in the forums</li>
            <% when "Commontator::Comment" %>
              <li class="list-group-item">Commented <%= activity.body %> on a game</li>
            <% when "Game" %>
              <li class="list-group-item">Uploaded <%= activity.title %></li>
            <% else %>
              <li class="list-group-item">This user has done something, but I'm not sure what</li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Games (<%= @user.games.size %>)</div>
        <div class="panel-body">
          <ul class="game">
            <% @user.games.each do |game| %>
              <%= link_to game_path(game.title) do %>
                <li><button class="btn btn-sm btn-custom"><%= game.title %></button></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>