<h1><%= t('forem.admin.area') %></h1>

<p>
  <%= t('forem.admin.welcome') %>
  Doesn't this look lovely currently? Must remember to style this at some point.
</p>

<ul>
  <li><%= link_to t('forem.admin.forum.index'), forem.admin_forums_path %> </li>
  <li><%= link_to t('forem.admin.category.index'), forem.admin_categories_path %></li>
  <li><%= link_to t('forem.admin.group.index'), forem.admin_groups_path %></li>
</ul>

<br>
<footer id='admin_link'>
  <%= link_to t(:back_to_forums, :scope => 'forem.admin'), forem.root_path %> 
</footer>