<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :height %>
    <%= f.input :width %>
    <%= f.input :url %>
    <%= f.association :user %>
    <%= f.association :jam %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
