<%= simple_form_for(@game, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, autofocus: true, required: true, label: false, placeholder: "Title", input_html: {class: "form-conrol"} %>
    <%= f.input :description, label: false, placeholder: "Description", input_html: {class: "form-conrol"} %>
    <%= f.input :kong_link, label: false, placeholder: "Link to game on Kongregate, if applicable", input_html: {class: "form-conrol"} %>
    <%= f.input :url, label: false, placeholder: "Iframe link, if applicable", input_html: {class: "form-conrol"} %>
    <%= f.input :height, label: false, placeholder: "Height", input_html: {class: "form-conrol"} %>
    <%= f.input :width, label: false, placeholder: "Width", input_html: {class: "form-conrol"} %>
    <%= f.input :game_file, as: :file, label: "Upload a game file: (only .swf for now)" %>
    <%= f.input :screenshots, as: :file, label: "Upload a screenshot:" %>
    <%= f.association :jam, required: true, label: false, prompt: "Which Jam was this for?", input_html: {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-custom btn-block" %>
  </div>
<% end %>
