<div class="col-md-3">
  <%= link_to game_path(game.title) do %>
    <div class="thumbnail tn-custom">
      <%= image_tag game.screenshots_url(:thumb).to_s %>
    </div>
    <div class="caption">
      <h3><%= game.title %></h3>
      <h5>By <%= game.user.username %></h5>
    </div>
  <% end %>
  <% if current_user && !(current_user.voted_for? game) %>
    <%= link_to "upvote", like_game_path(game), method: :put %> 
    <%= link_to "downvote", dislike_game_path(game), method: :put %>
  <% else %>
    Score: <%= game.get_upvotes.size %> (<%= link_to "Cancel vote", unvote_game_path(game), method: :put if current_user %>)
  <% end %>
</div>