<div class="col-md-3">
  <%= link_to game_path(game.title) do %>
    <div class="thumbnail tn-custom">
      <%= image_tag game.screenshots_url(:thumb).to_s %>
    </div>
    <div class="caption">
      <h3><%= game.title %></h3>
      <h5>By <%= game.user.username %></h5>
      <% if current_user && !(current_user.voted_for? game) %>
        <%= link_to like_game_path(game), method: :put do %>
          <button class="btn btn-success">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </button>
          <% end %>
          <%= link_to dislike_game_path(game), method: :put do %>
          <button class="btn btn-warning">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          </button>
        <% end %>
      <% else %>
        Score: <%= game.get_upvotes.size %> 
        <% if current_user %>
          <%= link_to unvote_game_path(game), method: :put do %>
            <button class="btn btn-info">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel vote
            </button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>