<div class="container">
<h1>All Games</h1>
  <% @jams.each do |jam| %>
    <div class="row">
      <h2><%= link_to "GiTD \##{jam.title}", jam_path(jam.id) %></h2>
      <div class="row">
        <% @games.each do |game| %>
          <% if game.jam == jam %>
            <%= render game %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Height</th>
      <th>Width</th>
      <th>Url</th>
      <th>Owner</th>
      <th>Jam</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.description %></td>
        <td><%= game.height %></td>
        <td><%= game.width %></td>
        <td><%= game.url %></td>
        <td><%= game.user.username %></td>
        <td><%= game.jam.title %></td>
        <td><%= link_to 'Show', game_path(game.title) %></td>
        <td><% if can? :edit, game %><%= link_to 'Edit', edit_game_path(game) %><% end %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
