<div class="jumbotron jt-custom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      <h1><%= @game.title %></h1>
      </div>
      <div class="col-md-6">
        <h3>By <%= @game.user.username %></h3>
        <h5><%= @game.description %></h5>
      </div>
    </div>
    <div class="row">
      <h2>Play here: <%= link_to @game.url, @game.url %></h2>
    </div>
  </div>
</div>

<p>
  <strong>Screenshot:</strong>
  <%= image_tag @game.screenshots_url(:thumb).to_s %>
</p>


<p>
  <strong>Owner:</strong>
  <%= @game.user.username %>
</p>

<p>
  <strong>Jam:</strong>
  <%= @game.jam.title %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
