<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Height:</strong>
  <%= @game.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @game.width %>
</p>

<p>
  <strong>Url:</strong>
  <%= @game.url %>
</p>

<p>
  <strong>Screenshot:</strong>
  <%= image_tag @game.screenshots %>
</p>


<p>
  <strong>Owner:</strong>
  <%= @game.user.username %>
</p>

<p>
  <strong>Jam:</strong>
  <%= @game.jam.title %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
