<%= simple_form_for(@jam) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, autofocus: true, required: true, label: false, placeholder: "GiTD Number", input_html: {class: "form-control"} %>
    <%= f.input :theme, required: true, label: false, placeholder: "Theme", input_html: {class: "form-control"} %>
    <%= f.input :mechanic, required: true, label: false, placeholder: "Mechanic", input_html: {class: "form-control"} %>
    <%= f.input :status, required: true, label: false, collection: ["Theme Selection", "Open To Entries", "Voting", "Finished"], prompt: "GiTD Status" %>
    <% if @games && @games.size > 0 %>
      
    <% end %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-custom btn-block" %>
  </div>
<% end %>
